<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! <br/> <p MyDirective>My First Application</p>
  </h1>
</div>
<a routerLink="">Home</a>  <br/>

 <a routerLink="SampleLoop">General</a>  <br/>

 <a routerLink="Employee">Employee</a>  <br/>

 <a routerLink="LifeHoockTest">Life Hock</a>  <br/>

 <a routerLink="Interpolitiontest">Interpolition</a>  <br/>

 <a routerLink="PropertyBindingtest">Property Binding</a>  <br/>

 <a routerLink="ClassBindingtest">Class Binding</a>  <br/>

 <br/>
 <br/>
 <br/>
 <br/>
 <!-- <app-componenttest></app-componenttest> -->
 <br/>

 <div class="app-componenttest">

 </div>
<router-outlet></router-outlet>
